.font {
background-color:Red;

}

.font_2 {
	background-color:Blue;
	
	
}

.font_3 {
	text-shadow: 6px 1px 5px Black;
	
}

.font_4 {
color:Chartreuse;
text-shadow: 6px 1px 4px Blue;


}

ul {
	font-size:40px;
	
	
	
}

a {
	color:Black;
	text-decoration:none;
	font-size:40px;
	transition-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
	transition-duration:2s;
	border-radius: 9px;
	padding: 9px;
	
}
a:hover {
	color:White;
	background-color:MediumSlateBlue;
	font-size: 50px
}

header {
	align-self:flex-start;
	margin:20px;
	
}

li {
	color:Black;
	
	
}

li:hover {
color:White;
font-size:75px;



}	


.stoim {
    padding: 10px;
    margin: 30px
    
}


.photo {
    background-color: red
}








